
img{
	width: 180px;
	height: 180px;
	margin-left: 10px;
	padding: 20px;
	margin-left: 20px;
}

*{
	/* box-sizing: border-box; */
	margin: 0;
	padding: 0;
}

.header-title{
	padding: 40px;
	text-align: center;
	color: white;
	background-color: #ff4e67;
	font-size: 20px;
}


#dropzone {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover; /* 讓背景圖片填滿容器 */
    height: 500px;
    display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
}

.box{
	width: 200px;
	height: 200px;
	margin: 24px;
	background-image: url("../images/musical.svg");
	background-repeat: no-repeat;
	
}

.instrumentzone{
	background-color: #ffc7cf;
	
}

.controllers{
	text-align: right;
	margin: 16px;
}

.rebutton, .pausebutton{
	background-color: rgb(255, 255, 255);
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 50px;
}

@media only screen and (max-width: 768px) {
    .box {
        width: calc(50% - 32px); 
        margin: 16px; 
    }

	#dropzone {
        display: flex;
		height: auto;
        align-items: center; /* 水平居中子元素 */
    }

}

@media only screen and (min-width: 769px) {

    .box {
        width: calc(33.33% - 32px); 
        margin: 16px auto;
    }
	

}