
img{
	width: 180px;
	height: 180px;
	margin-left: 10px;
	padding: 20px;
	margin-left: 20px;
}

*{
	/* box-sizing: border-box; */
	margin: 0;
	padding: 0;
}

.header-title{
	padding: 40px;
	text-align: center;
	color: white;
	background-color: #ff4e67;
	font-size: 20px;
}

#dropzone{
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.box-con{
	display: flex;
	justify-content: center;
	width:100%;
}

.box{
	width: 200px;
	height: 200px;
	margin: 24px;
	background-image: url("../images/musical.svg");
	background-repeat: no-repeat;
	
}

.instrumentzone{
	background-color: #ffc7cf;
	
}

.controllers{
	text-align: right;
	margin: 16px;
}

.rwbutton, .pausebutton{
	background-color: rgb(255, 255, 255);
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 50px;
}
